body {
    padding: 20px;
    background-color: rgb(43, 41, 41);
}

h1 {
    padding-bottom: 20px;
    color: white;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    padding: 10px;
    margin: 20px;
}

.color {
    margin: 20px;
    height: 35px;
    width: auto;
}

.grid {
    display: flex;
}

.fila {
    display: flex;
    flex-direction: column;
}

.cuadrado {
    width: 25px;
    border: 1px solid black;
    height: 10px;
    flex: 1;
    background-color: white;
}
