body {
    padding: 20px;
}
.contenedor {
    display: flex;
    justify-content: flex-start;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    padding: 10px;
    margin: 20px;
}

.cuadrado {
    width: 100px;
    border: 1px solid red;
    height: 100px;
    display: flex;
    ;
}